* {
    font-family: sans-serif;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows : 100px 100px 100px;
    gap: 10px;
    justify-content: center;
}

.grid-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 63, 24);
    color: white;
    border-radius: 10px;
    border: none;
}

.restart-button-container {
    display: flex;
    justify-content: center;
}

.restart-button {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.result {
    margin: 20px;
    text-align: center;
}